<div class="dashbox">
  <h3>SEDCAT</h3>

 	<%= message('sedcat.exito', :suffix => ' %') -%>
 	<%= message('sedcat.cobertura', :suffix => ' %') -%>
	<%= format_measure('exito_tests') %>
	<%= format_measure('cobertura_tests', :suffix => '%') %>
	<%= message('sedcat.basedir', :suffix => ' %') -%>
	
	  <p><%= format_measure('message_key_1') -%></p>
	    <p><%= format_measure('message_key_2') -%></p>
</div>

