<div class="dashbox">
  <h1>SEDCAT</h1>
	<br>
	<h2>Metrica calidad:</h2>
<%= format_measure('quality_measure', :suffix => '%') %>
	<br>
	<h2>Acciones recomendadas:</h2>
<%= format_measure('actions_to_realize') %>
	<br>
	<h3>Variables de entrada usadas:</h3>
	<table>
		<tr>
		  <td><strong><%= format_measure('exito_tests') %></strong></td>
		  <td><strong><%= format_measure('cobertura_tests', :suffix => '%') %></strong></td>
		  <td><strong><%= format_measure('mutantes_tests', :suffix => '%') %></strong></td>
		  <td><strong><%= format_measure('numero_tests', :suffix => ' numero de test') %></strong></td>
		  <td><strong><%= format_measure('numero_lineascodigo_tests', :suffix => ' numero de lineas de codigo') %></strong></td>
		</tr>
</div>

