<div class="dashbox">
  <h1>Sedcat Plugin for Quality Testing</h1>
	<h3><strong>Metrica calidad:</strong></h3>
<%= format_measure('quality_measure') %>
	<br>
	<br>
	<h3><strong>Acciones recomendadas:</strong></h3>
<%= format_measure('actions_to_realize') %>
	<br>
	<br>
	<table>
	<h3><strong>Variables de entrada usadas:</strong></h3>
		<tr>
		  <td>Exito: <strong><%= format_measure('exito_tests') %></strong></td>
		</tr>
		<tr>
		  <td>Cobertura: <strong><%= format_measure('cobertura_tests') %></strong></td>
		</tr>
		<tr>
		  <td>Mutantes: <strong><%= format_measure('mutantes_tests') %></strong></td>
		</tr>
		<tr>
		  <td>Numero de tests: <strong><%= format_measure('numero_tests') %></strong></td>
		</tr>
		<tr>
		  <td>Numero de lineas de codigo: <strong><%= format_measure('numero_lineascodigo_tests') %></strong></td>
		</tr>
	</table>
	<br>
</div>

